/**
VARIABLES
**/
$textColor: rgba(0, 0, 0, 1);
$lineColor: rgba(192, 192, 192, 1);

$highlightColor: rgba(89, 166, 255, 0.2);

$bodyBackgroundColor: rgba(240, 240, 240, 1);
$headerBackgroundColor: $bodyBackgroundColor;
$navigatorBackgroundColor: $bodyBackgroundColor;
$stageBackgroundColor: rgba(39, 40, 34, 1);
$timelineBackgroundColor: rgba(150, 150, 150, 1);
$sliderBackgroundColor: $bodyBackgroundColor;

$assetBackgrouncColor: rgba(255, 255, 255, 1);
$layerBackgroundColor: $bodyBackgroundColor;

/* MIXINS */

@mixin toolbar {
  background: rgb(224, 224, 224); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(198, 198, 198, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(100%, rgba(198, 198, 198, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(198, 198, 198, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(198, 198, 198, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(198, 198, 198, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%, rgba(198, 198, 198, 1) 100%); /* W3C */
}

@mixin toolbarHover {
  background: rgb(191, 191, 191); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(135, 135, 135, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(191, 191, 191, 1)), color-stop(100%, rgba(135, 135, 135, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(135, 135, 135, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(135, 135, 135, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(135, 135, 135, 1) 100%); /* IE10+ */
  background: linear-gradient(top bottom, rgba(191, 191, 191, 1) 0%, rgba(135, 135, 135, 1) 100%); /* W3C */
}


@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}