$baseColor: rgba(255, 255, 255, 1);
$textColor: rgba(0, 0, 0, 1);
$highlightColor: rgba(89, 166, 255, 1);
$videoColor: opacify($highlightColor, 0.6);
$imageColor: rgba(231, 176, 26, 0.6);
$audioColor: rgba(168, 197, 50, 0.6);
$buttonHeight: 36px;
$lineColor: #c0c0c0;
$backgroundColor: #f1f1f1;

$headHeight: 6%;
$controlHeight: 6%;
$timelineHeight: 30%;
$mainHeight: 100% - $headHeight - $controlHeight - $timelineHeight;

@import "progressbar";
@import "buttons";
@import "prefixpoly";

@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

* {
  font-family: 'Gudea', sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-color: $baseColor;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: $headHeight;
  border-bottom: 1px solid $lineColor;
  overflow: hidden;

  #projectInfo {
    width: 50%;
    float: left;
    min-height: $buttonHeight;
    height: 100%;
    h1 {
      font-size: 1.6em;
      color: $textColor;
      display: inline;
    }
    span {
      padding-left: 2em;
    }
  }

  #mainControl {
    width: 50%;
    float: left;
    padding: 0;
    min-height: 100%;
    height: 100%;
    max-height: 100%;

    button {
      float: right !important;
    }
  }

}

#controlbar {
  clear: both;
  height: $controlHeight;
  overflow: hidden;
  min-height: 5%;
  height: 5%;
  max-height: 5%;

  #stageControl {
    width: 75%;
    min-width: 75%;
    max-width: 75;
    float: left;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    border-left: 1px solid $lineColor;
    button {
      float: left;
      height: 100%;
    }
  }
}

#navigatorTab {
  width: 25%;
  height: 100%;
  float: left;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;

    li {
      float: left;
      list-style: none;
      padding: 0.6em;
      border-right: 1px solid $lineColor;
      height: 100%;
      @include selectable(none);

      &:hover {
        background-color: $highlightColor;
        cursor: pointer;
      }
    }
  }
}

#navigator {
  clear: both;
  height: $mainHeight;
  max-height: 60%;
  min-height: 60%;
  width: 25%;
  display: block;
  float: left;
  border-top: 1px solid $lineColor;
  border-bottom: 1px solid $lineColor;

}

#compositions {
  display: none;
  height: 90%;
  max-height: 100%;
}

#library {
  min-height: 90%;
  height: 90%;
  max-height: 90%;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;
  min-height: 90%;
  padding: 0;
  margin: 0;
  display: block;
  clip: rect(100, 100, 100, 100);

  @include selectable(none);

  div.asset {
    clear: both;
    height: 4.3em;
    display: block;
    cursor: pointer;
    width: 100%;
    @include selectable(none);
    background-color: $baseColor;
    margin: 0;
    padding: 0;
    color: #6d6c6c;
    border-top: 1px solid $lineColor;

    &:first-child {
      border: none !important;
    }

    div.info {
      width: 90%;
      float: left;
      height: 100%;
      padding: 0.5em 0em 1.4em 4em;
      background-repeat: no-repeat;
      background-position: 0.9em 1.2em;

      &.video {
        background-image: url('../img/icon_video.svg');
      }

      &.image {
        background-image: url('../img/icon_image.svg');
      }
      &.audio {
        background-image: url('../img/icon_audio.svg');
      }

      span.name {
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1em;
        width: 80%;
        max-width: 100%;
        overflow: hidden;
      }

      span.status {
        margin-top: 0.2em;
        font-size: 0.7em;
        float: left;
        width: 50%;
      }

      .duration, .dimensions, .ratio {
        float: left;
        padding-top: 0.2em;
        margin-left: 0.2em;
        font-size: 0.7em;
      }

      progress {
        float: left;
        clear: both;
        height: 2px;
        width: 90%;

        margin-top: 0.3em;
        @include progressbar(#c0c0c0, $highlightColor);

        &:after {
          clear: both;
          color: $textColor;
          content: attr(value) "%";
          font-size: 0.6em;
          position: relative;
          left: 93%;
          top: -28px;
          display: inline;

        }
      }
    }

    div.types {
      width: 10%;
      float: left;
      height: 100%;
      margin: 0;
      paddig: 0;

      span {
        width: 20px;
        height: 20px;
        display: block;
        background-size: 100%;

        &.mp4 {
          margin-top: 0.3em;
          background-image: url('../img/icon_mp4.svg');
        }
        &.webm {
          background-image: url('../img/icon_webm.svg');
        }
        &.ogg {
          background-image: url('../img/icon_ogg.svg');
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    &:hover {
      cursor: pointer;
      color: $textColor;
      background-color: transparentize($highlightColor, 0.5);

    }

  }

}

#navigatorControl {
  display: block;
  margin: auto;

  min-height: 14%;
  height: 14%;

  overflow: hidden;
  border-top: 1px solid $lineColor;

  input[type=file], button {
    @extend button;
    text-indent: -9999px;
    overflow: hidden;

    height: 100% !important;
    /*max-width: 36px !important */

  }

  #fileBrowser {
    position: absolute;
    left: -900px;
    top: -900px;
  }

}

#stage {
  float: left;
  width: 75%;
  height: 56%;
  max-height: 60%;
  min-height: 60%;
  display: block;
  border: 1px solid $lineColor;
  background-color: red;
  overflow: hidden;
  background-color: $backgroundColor;
}

#timeline {
  clear: both;
  width: 100%;
  height: $timelineHeight;
  min-height: 27%;
  background-color: $baseColor;

  #layer {
    width: 25%;
    display: block;
    height: 100%;
    float: left;

    div {
      width: 100%;
      border: 1px solid $lineColor;
      height: 10%;
      margin: 0.2em 10em 0.2em 0.2em;
      padding: 0.2em;
    }
  }

  #bars {
    width: 75%;
    height: 100%;
    float: left;

    div {
      height: 10%;
      display: block;
      width: 100%;
      border: 1px solid $lineColor;
      margin: 0.2em;
    }

    .video {
      background-color: $videoColor;
    }
    .audio {
      background-color: $audioColor;
    }
    .image {
      background-color: $imageColor;
    }
  }

}

/*PSEUDO ELEMENTS*/
[contenteditable]:hover {
  outline: 1px dotted #cfcfcf;
}

[contenteditable]:focus {
  outline: 1px dotted #cfcfcf;
}

#exportDialogue {
  background-color: $baseColor;
  h1 {

  }

  p {

  }

  #screen {
    clear: both;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url('../img/screen_export.svg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    min-width: 50%;
    max-width: 50%;
    min-height: 100% !important;
    max-height: 100%;
    display: block !important;;
    border: 1px solid red;
  }

  #qrcode {
    float: left;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    display: block;

    canvas {
      max-width: 80%;
      max-height: 80%;
    }

  }
}

noscript {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fffff;

  div {
    position:absolute;
    left: 50%;
    top:50%;
    margin-left:-25%;
    margin-top:-25%;
    text-align: left;
    width: 50%;
    height: 50%;
    height: auto;
    display: block;
    padding-left: 12em;
    background-image: url('../img/icon_genius.svg');
    background-repeat: no-repeat;
    background-size: 10em 10em;


    h1, p {
      color: #ffffff;
      width: 100%;
    }

    h1 {
      font-size: 2.5em;

    }
    p {
      font-size: 1.5em
    }
    a{
      &:link, &:active, &:visited{
        color: #ffffff;
        font-weight: bold;
        text-decoration: none !important;
      }
      &:hover{
        text-decoration: underline !important;
      }
    }

  }

}
