@import 'globals';
@import 'bourbon/bourbon';
@import 'buttons';
@import 'layout';
@import 'elements/header';
@import 'elements/navigator';
@import 'elements/stage';
@import 'elements/timeline';
@import 'elements/noscript';
@import 'elements/_dialogues';

/* GLOBALS */

* {
  @include box-sizing('border-box');
  font-family: 'Gudea', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-size: 100%;
  background-color: $bodyBackgroundColor;
}

[contenteditable]:hover,
[contenteditable]:focus {
  outline: 1px dotted $lineColor;
}

