/**
VARIABLES
**/
/* MIXINS */
/**
VARIABLES
**/
/* MIXINS */
button {
  -webkit-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
  -moz-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
  -ms-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
  -o-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
  transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
  -webkit-background-size: compact(100%, 100%, false, false, false, false, false, false, false);
  -moz-background-size: compact(100%, 100%, false, false, false, false, false, false, false);
  -ms-background-size: compact(100%, 100%, false, false, false, false, false, false, false);
  -o-background-size: compact(100%, 100%, false, false, false, false, false, false, false);
  background-size: compact(100%, 100%, false, false, false, false, false, false, false);
  display: block;
  height: 100%;
  min-height: 40px;
  min-width: 40px;
  line-height: 100%;
  border: none;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-origin: content;
  opacity: 0.7;
  margin-left: 3px; }
  button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
    -moz-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
    -ms-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
    -o-transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false);
    transition: compact(opacity 2s ease-in-out, false, false, false, false, false, false, false, false); }
  button[disabled] {
    cursor: default;
    opacity: 0.4; }
  button[disabled]:hover {
    cursor: default; }

button.settings {
  background: url("../img/icon_settings.svg"); }

button.share {
  background: url("../img/icon_share.svg");
  margin-right: 5px; }

button.add {
  background: url("../img/icon_add.svg"); }

button.remove {
  background: url("../img/icon_remove.svg"); }

button.play {
  background: url("../img/icon_play.svg"); }

button.upload {
  background-image: url("../img/icon_upload.svg"); }

/**
VARIABLES
**/
/* MIXINS */
body {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%; }
  body #wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%; }
    body #wrapper header {
      width: 100%;
      height: 5%;
      min-height: 40px;
      overflow: hidden; }
      body #wrapper header div {
        height: 100%;
        width: 50%; }
      body #wrapper header #projectInfo {
        float: left; }
      body #wrapper header #projectControl {
        float: right; }
    body #wrapper #mainContainer {
      clear: both;
      display: block;
      height: 65%;
      width: 100%; }
      body #wrapper #mainContainer #navigator {
        height: 100%;
        width: 25%;
        float: left;
        display: block; }
        body #wrapper #mainContainer #navigator #navigatorControl {
          height: 7%;
          min-height: 40px; }
        body #wrapper #mainContainer #navigator #library, body #wrapper #mainContainer #navigator #compositions, body #wrapper #mainContainer #navigator #effects {
          height: 86%; }
        body #wrapper #mainContainer #navigator #navigatorCommands {
          height: 7%;
          min-height: 40px; }
      body #wrapper #mainContainer #stageContainer {
        display: block;
        float: left;
        width: 75%; }
        body #wrapper #mainContainer #stageContainer #stageControl {
          height: 7%;
          min-height: 40px; }
        body #wrapper #mainContainer #stageContainer #stage {
          height: 86%; }
        body #wrapper #mainContainer #stageContainer #stageCommands {
          height: 7%;
          min-height: 40px; }
    body #wrapper #timeline {
      clear: both;
      height: 30%; }
      body #wrapper #timeline #slider {
        height: 10%; }

/**
VARIABLES
**/
/* MIXINS */
header {
  border-bottom: 1px solid silver;
  background-color: #f0f0f0; }

#projectInfo {
  display: table; }
  #projectInfo div {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }
  #projectInfo h1 {
    display: inline;
    font-size: 1.3em;
    color: black;
    text-overflow: ellipsis;
    margin-left: 0.5em; }

#projectControl button {
  display: table-cell;
  vertical-align: middle;
  float: right; }

/**
VARIABLES
**/
/* MIXINS */
/*http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/*/
#navigator {
  border-right: 1px solid silver;
  margin-right: -1px;
  background-color: #f0f0f0; }

#library, #compositions, #effects {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll; }

#navigatorControl {
  background: #e0e0e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #c6c6c6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* IE10+ */
  background: linear, compact(to bottom, #e0e0e0 0%, #c6c6c6 100%, false, false, false, false, false, false, false, false);
  /* W3C */
  border-bottom: 1px solid silver; }
  #navigatorControl ul {
    width: 100%;
    height: 100%;
    display: table; }
    #navigatorControl ul li {
      display: table-cell;
      vertical-align: middle;
      width: 33.33333%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      list-style: none;
      text-align: center;
      border-right: 1px solid silver; }
      #navigatorControl ul li .active {
        background: #bfbfbf;
        /* Old browsers */
        background: -moz-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #878787));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* IE10+ */
        background: linear, compact(top bottom, #bfbfbf 0%, #878787 100%, false, false, false, false, false, false, false, false);
        /* W3C */ }
      #navigatorControl ul li:hover {
        background: #bfbfbf;
        /* Old browsers */
        background: -moz-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #878787));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #bfbfbf 0%, #878787 100%);
        /* IE10+ */
        background: linear, compact(top bottom, #bfbfbf 0%, #878787 100%, false, false, false, false, false, false, false, false);
        /* W3C */
        cursor: pointer; }
      #navigatorControl ul li:last-child {
        border-right: none; }

#navigatorCommands {
  background: #e0e0e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #c6c6c6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* IE10+ */
  background: linear, compact(to bottom, #e0e0e0 0%, #c6c6c6 100%, false, false, false, false, false, false, false, false);
  /* W3C */
  width: 100%;
  min-height: 40px;
  border-top: 1px solid silver;
  padding: 0; }
  #navigatorCommands div {
    margin: 0 auto;
    display: table; }
    #navigatorCommands div button {
      display: table-cell;
      vertical-align: middle; }
    #navigatorCommands div #fileBrowser {
      position: absolute;
      left: -900px;
      top: -900px;
      text-indent: -9999px;
      overflow: hidden; }

#library div.asset {
  padding: 0.5em 0em 0em 4em;
  background-color: white;
  color: #6d6c6c;
  border-bottom: 1px solid silver;
  background-repeat: no-repeat;
  background-position: 0.9em 1.2em; }
  #library div.asset.video {
    background-image: url("../img/icon_video.svg"); }
  #library div.asset.image {
    background-image: url("../img/icon_image.svg"); }
  #library div.asset.audio {
    background-image: url("../img/icon_audio.svg"); }
  #library div.asset div.info {
    display: block;
    width: 77%;
    float: left;
    height: 100%; }
    #library div.asset div.info span.name {
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1em;
      width: 80%;
      max-width: 100%;
      overflow: hidden; }
    #library div.asset div.info span.status {
      margin-top: 0.2em;
      font-size: 0.7em;
      float: left;
      width: 50%; }
    #library div.asset div.info .duration, #library div.asset div.info .dimensions, #library div.asset div.info .ratio {
      float: left;
      margin-top: 0.3em;
      font-size: 0.7em; }
    #library div.asset div.info .duration {
      margin-left: 0; }
    #library div.asset div.info progress {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      background-size: auto;
      background: silver !important;
      color: rgba(89, 166, 255, 0.2);
      float: left;
      clear: both;
      height: 2px;
      width: 97%;
      margin-top: 0.3em; }
      #library div.asset div.info progress[role] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        background-size: auto; }
      #library div.asset div.info progress[role]:after {
        background-image: none; }
      #library div.asset div.info progress[role] strong {
        display: none; }
      #library div.asset div.info progress[role][aria-valuenow] {
        background: rgba(89, 166, 255, 0.2) !important; }
      #library div.asset div.info progress::-webkit-progress-bar {
        background: silver; }
      #library div.asset div.info progress::-moz-progress-bar {
        background: rgba(89, 166, 255, 0.2); }
      #library div.asset div.info progress::-webkit-progress-value {
        background: rgba(89, 166, 255, 0.2); }
      #library div.asset div.info progress[aria-valuenow]:before {
        background: rgba(89, 166, 255, 0.2); }
      #library div.asset div.info progress:after {
        clear: both;
        color: black;
        content: attr(value) "%";
        text-align: right;
        font-size: 0.6em;
        position: relative;
        left: 91%;
        top: -24px;
        display: inline; }
  #library div.asset div.types {
    width: 4%;
    float: left;
    height: 100%;
    margin: 0;
    paddig: 0; }
    #library div.asset div.types span {
      width: 20px;
      height: 20px;
      display: block;
      background-size: 100%; }
      #library div.asset div.types span.mp4 {
        margin-top: 0.3em;
        background-image: url("../img/icon_mp4.svg"); }
      #library div.asset div.types span.webm {
        background-image: url("../img/icon_webm.svg"); }
      #library div.asset div.types span.ogg {
        background-image: url("../img/icon_ogg.svg"); }
      #library div.asset div.types span.disabled {
        opacity: 0.5; }
  #library div.asset:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(89, 166, 255, 0.2); }

#compositions {
  display: none; }

#effects {
  display: none; }

div.asset, div.composition, div.effect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
  height: 80px;
  display: block;
  cursor: pointer;
  width: 100%; }

/**
VARIABLES
**/
/* MIXINS */
#stageContainer {
  height: 100%;
  overflow: hidden; }
  #stageContainer div {
    width: 100%;
    display: block; }

#stageControl {
  background: #e0e0e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #c6c6c6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* IE10+ */
  background: linear, compact(to bottom, #e0e0e0 0%, #c6c6c6 100%, false, false, false, false, false, false, false, false);
  /* W3C */
  border-bottom: 1px solid silver;
  overflow: hidden; }
  #stageControl div {
    display: table;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 2px; }
    #stageControl div button {
      display: table-cell;
      vertical-align: middle; }

#stage {
  overflow: hidden;
  background-color: #272822; }

#stageCommands {
  background: #e0e0e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #c6c6c6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e0e0e0 0%, #c6c6c6 100%);
  /* IE10+ */
  background: linear, compact(to bottom, #e0e0e0 0%, #c6c6c6 100%, false, false, false, false, false, false, false, false);
  /* W3C */
  border-top: 1px solid silver; }

/**
VARIABLES
**/
/* MIXINS */
#timeline {
  background-color: #969696;
  border-top: 1px solid silver;
  overflow: none; }

#slider {
  width: 100%;
  height: 30px;
  display: block;
  border-bottom: 1px solid silver; }

#picker {
  position: relative;
  left: 200px;
  top: 0;
  z-index: 2;
  width: 3px;
  background-color: red;
  height: 100%;
  display: block; }

#layerInfoContainer,
#layerContainer {
  margin-top: 5px; }

#layerInfoContainer {
  width: 25%;
  float: left; }

#layerContainer {
  width: 75%;
  overflow: none;
  float: left; }

.layerInfo,
.layer {
  width: 100%;
  display: block;
  border: 1px solid silver;
  background-color: #f0f0f0;
  margin: 3px 0; }

.layerInfo {
  height: 25px;
  padding: 5px 0px 0px 0px;
  border-right: none; }
  .layerInfo span {
    text-overflow: ellipsis;
    padding-left: 5px; }

.layer {
  height: 30px; }

noscript {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fffff; }
  noscript div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -25%;
    text-align: left;
    width: 50%;
    height: 50%;
    height: auto;
    display: block;
    padding-left: 12em;
    background-image: url("../img/icon_genius.svg");
    background-repeat: no-repeat;
    background-size: 10em 10em; }
    noscript div h1, noscript div p {
      color: #ffffff;
      width: 100%; }
    noscript div h1 {
      font-size: 2.5em; }
    noscript div p {
      font-size: 1.5em; }
    noscript div a:link, noscript div a:active, noscript div a:visited {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none !important; }
    noscript div a:hover {
      text-decoration: underline !important; }

#exportDialogue #screen {
  clear: both;
  float: left;
  width: 50%;
  height: 100%;
  background-image: url("../img/screen_export.svg");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  min-width: 50%;
  max-width: 50%;
  min-height: 100% !important;
  max-height: 100%;
  display: block !important;
  border: 1px solid red; }
#exportDialogue #qrcode {
  float: left;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  display: block; }
  #exportDialogue #qrcode canvas {
    max-width: 80%;
    max-height: 80%; }

/* GLOBALS */
* {
  -webkit-box-sizing: "border-box";
  -moz-box-sizing: "border-box";
  box-sizing: "border-box";
  font-family: 'Gudea', sans-serif;
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-size: 100%;
  background-color: #f0f0f0; }

[contenteditable]:hover,
[contenteditable]:focus {
  outline: 1px dotted silver; }
