@import '../globals';

header {
  border-bottom: 1px solid $lineColor;
  background-color: $headerBackgroundColor;
}

button.open {
  float: left;
  display: table-cell;
  vertical-align: middle;
}

#projectInfo {
  float: left;
  display: table;

  div {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    display: inline;
    font-size: 1.3em;
    color: $textColor;
    text-overflow: ellipsis;
    margin-left: 0.5em;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    min-height: 32px;
    min-width: 32px;
  }

}

#projectControl {

  button {
    display: table-cell;
    vertical-align: middle;
    float: right;
  }

}