@import "../globals";
@import "compass/css3/shared";

#stageContainer {
  height: 100%;
  overflow: hidden;

  div {
    width: 100%;
    display: block;
  }
}

#stageControl {
  @include toolbar;
  overflow: hidden;

  div {

    display: table;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 2px;

    button {
      display: table-cell;
      vertical-align: middle;
    }
  }

}

#stage {
  overflow: hidden;
  background-color: $stageBackgroundColor;
  @include box-shadow(inset 1px 1px 20px 10px rgba(0, 0, 0, 0.3));
  display: block;
}

#composition {
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #000000;
  @include transform-origin(center center);

  div.sequence {
    position: absolute;
    top: 0;
    left: 0;

  }
}

#stageCommands {
  @include toolbar;
  border-top: 1px solid $lineColor;

  div {
    margin: 0 auto;
    display: table;
    height: 100%;
    text-align: center;

    button {
      display: table-cell;
      vertical-align: middle;
    }
  }

}