<div id="{{this._id}}" class="composition">
    <div class="info">
        {{this.name}}, {{this._id}}, {{this.width}}x{{this.height}}, {{this.duration}}, {{this.publicId}}
    </div>
    <progress min="0" max="100"></progress>
    <div class="controls">
        <div>
            <button class="settings"></button>
            <button class="share"></button>
            <button class="encode"></button>
            <button class="download"></button>
        </div>
    </div>
</div>