<ul>
    {{#each assets}}
    <li class='{{this.type}}'>
        <span class="name"> {{this.name}}, {{this.duration}}</span>
        <span class="info">Transcoding</span>
        <span class="progressValue">56%</span>
        <progress value=43 max=100></progress>
    </li>
    {{/each}}

</ul>

