<div id="exportProject">
    <h1>Share/Export</h1>

    <button class="close-reveal-modal close"></button>

    <h2>Private URL</h2>

    <input type="text" readonly value="{{url}}"/>

    <div id="qrcode"></div>
    <div class="desc">
        <p>This link gives anybody full control over this project, so think about with whom you share it.</p>
        <p>If you only want to share a composition have a look in the navigator.</p></div>
    <button class="okay">Okay</button>

</div>